@font-face {
    font-family: 'Pocket-Monk';
    src: url("../font/Pocket-Monk.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    /* background: rgb(255, 105, 119); */
}

nav {
    width: 100%;
    height: 56px;
    background: rgb(255, 105, 119);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

nav ul li {
    margin-right: 50px;
    cursor: pointer;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    font-family: 'Pocket-Monk';
    color: #FFF;
    font-size: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li:hover {
    color: #FFF;
    background: rgb(255, 23, 45);
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
}

nav img {
    width: auto;
    height: 40px;
}

main {    
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.logo {
    margin-bottom: 100px;
}


main .pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}

.pokemon {
    padding: 30px 16px;
    width: 294px;
    height: 281px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
}

.grass {
    background-color: rgb(120, 200, 80);
}

.fire {
    background: rgb(240, 128, 48);
}

.fighting {
    background-color: rgb(123, 30, 25);
}

.normal {
    background-color: rgb(168, 168, 120);
}

.flying {
    background-color: rgb(168, 144, 240);
}

.bug {
    background-color: rgb(168, 184, 32);
}

.ground {
    background-color: rgb(224, 192, 104);
}

.fairy {
    background-color: rgb(238, 153, 172);
}

.poison {
    background-color: rgb(160, 64, 160);
}

.electric {
    background-color: rgb(246, 201, 19);
}

.water {
    background-color: rgb(69, 120, 237);
}

.psychic {
    background-color: rgb(247, 54, 112);
}

.rock {
    background-color: rgb(184, 160, 56);
}

.ghost {
    background-color: rgb(112, 88, 152);
}

.steel {
    background-color: #7a7aa7;
}

.dark {
    background-color: #303030;
}

.ice {
    background-color: #45b6b6;
}

.dragon {
    background-color: #3d07c0;
}

.pokemon img {
    height: 128px;
}

.pokemon p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    text-transform: capitalize;
}




.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px
}

#input {
    width: 80%;
    height: 60px;
    margin-right: 30px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #EEE;
    border-radius: 30px;
    padding: 0 20px;
}

.input-container button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 0;
    background-color: #346beb;
    color: #FFF;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    }
    
    /* The Close Button */
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }



@media (max-width: 414px) {
    nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    nav ul li {
        height: 20px;
        margin-right: 0;
    }

    main .pokemon-list {
        grid-template-columns: repeat(1, 1fr);
    }
}